/*search box*/
.woovator_widget_psa form {
	position: relative;
}

.pro-sidebar-search-form input {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #c8c6c6;
	color: #000;
	font-size: 14px;
	height: 43px;
	padding: 2px 55px 2px 18px;
}

.woovator_widget_psa input[type="search"] {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #c8c6c6;
	color: #000;
	font-size: 14px;
	height: 43px;
	padding: 2px 55px 2px 18px;
	width: 100%;
}

.woovator_widget_psa button {
	background: transparent none repeat scroll 0 0;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: none none none solid;
	border-width: medium medium medium 1px;
	padding: 0 15px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
	color: #938989;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	font-size: 20px;
	border-radius: 0;
}

#woovator_psa_results_wrapper {
	top: 42px;
	position: absolute;
	background: #fff;
	z-index: 999;
	overflow: auto;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.widget.woovator_widget_psa.woovator_widget_psa_clear #woovator_psa_results_wrapper {
	top: 43px;
}

.woovator_psa_inner_wrapper {
	border: 1px solid #ddd;
	padding: 8px 10px;
	max-height: 300px;
}

.woovator_single_psa a {
	display: flex;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	align-items: center;
	text-decoration: none;
}

.woovator_single_psa ins{
	text-decoration: none;
}

.woovator_single_psa:last-child a {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

#woovator_psa_results_wrapper .woovator_psa_image img {
	max-width: 50px;
}

.woovator_psa_content {
	margin-left: 8px;
}

.woovator_psa_content h3 {
	font-size: 13px;
	line-height: 1.5;
	margin: 0px 0 0px 0;
}

.woovator_psa_content p {
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
}

#woovator_psa_results_wrapper .woovator_no_result {
	font-size: 12px;
	margin-bottom: 0;
}

span.woovator_widget_psa_clear_icon,
span.woovator_widget_psa_loading_icon {
	display: none;
}

.woovator_widget_psa_clear span.woovator_widget_psa_clear_icon,
.woovator_widget_psa_loading span.woovator_widget_psa_loading_icon {
	display: inline-block;
	position: absolute;
	line-height: 46px;
	font-size: 20px;
	right: 60px;
	top: 0;
	color: #c8c6c6;
	cursor: pointer;
}

.woovator_widget_psa_loading span.woovator_widget_psa_loading_icon {
	color: #666;
	animation: wvspin 2s linear infinite;
}

.woovator_widget_psa_loading span.woovator_widget_psa_clear_icon {
	display: none;
}

@-moz-keyframes wvspin { 
	100% { -moz-transform: rotate( -360deg ); } 
}
@-webkit-keyframes wvspin { 
	100% { -webkit-transform: rotate( -360deg ); } 
}
@keyframes wvspin { 
	100% { -webkit-transform: rotate( -360deg ); transform:rotate( -360deg ); } 
}


/*price*/
#woovator_psa_results_wrapper .amount {
	font-size: 12px;
	font-family: "Verdana";
	margin: 0;
}

#woovator_psa_results_wrapper del {
	margin-right: 5px;
	padding-right: 5px;
}

#woovator_psa_results_wrapper del .woocommerce-Price-currencySymbol::before {
	display: none;
}

#woovator_psa_results_wrapper del,
#woovator_psa_results_wrapper del .amount {
	color: #837e7e;
}
